In [13]:
#import csv ke pandas
import pandas as pd

df = pd.read_csv(r'D:\Bahan Belajar\Project\Bike Sales\Sales.csv')

df

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [14]:
#Cari data duplikat
#Sort nilai dari tanggal
#Cek nilai Gender apa saja
#Cek apakah data day month year sesuai dengan date
#Cek apakah data cst age sesuai dengan kriteria age group
#Tambah Kolom Nama Hari

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

In [16]:
df['Date'] = pd.to_datetime(df['Date'])

In [17]:
#df['Day_Name'] = df['Date'].dt.day_name()

# Tambahkan kolom baru di posisi setelah 'date'
pos = df.columns.get_loc('Date') + 1  # posisi setelah 'date'
df.insert(pos, 'Day_Name', df['Date'].dt.day_name())

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  datetime64[ns]
 1   Day_Name          113036 non-null  object
 2   Day               113036 non-null  int64
 3   Month             113036 non-null  object
 4   Year              113036 non-null  int64
 5   Customer_Age      113036 non-null  int64
 6   Age_Group         113036 non-null  object
 7   Customer_Gender   113036 non-null  object
 8   Country           113036 non-null  object
 9   State             113036 non-null  object
 10  Product_Category  113036 non-null  object
 11  Sub_Category      113036 non-null  object
 12  Product           113036 non-null  object
 13  Order_Quantity    113036 non-null  int64
 14  Unit_Cost         113036 non-null  int64
 15  Unit_Price        113036 non-null  int64
 16  Profit            113036 non-null  int64
 17  Cost              113036 non-null  int64
 18  Revenue           113036 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(9)
memory usage: 16.4+ MB

In [19]:
df.isna().sum()

Date                0
Day_Name            0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [20]:
#urutan_bulan = [
 #   'January', 'February', 'March', 'April', 'May', 'June',
  #  'July', 'August', 'September', 'October', 'November', 'December'
#]

#df['Month'] = pd.Categorical(df['Month'], categories=urutan_bulan, ordered=True)

#df = df.sort_values(by=['Year', 'Month'])
#df

In [21]:
df = df.sort_values(by='Date')
df

,Date,Day_Name,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
60993,2011-01-01,Saturday,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
58729,2011-01-01,Saturday,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
58913,2011-01-01,Saturday,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
63711,2011-01-01,Saturday,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
49787,2011-01-01,Saturday,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22465,2016-07-31,Sunday,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Cleaners,Bike Wash - Dissolver,5,3,8,24,15,39
23363,2016-07-31,Sunday,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Fenders,Fender Set - Mountain,19,8,22,258,152,410
19225,2016-07-31,Sunday,31,July,2016,48,Adults (35-64),F,United Kingdom,England,Clothing,Caps,AWC Logo Cap,16,7,9,26,112,138
94147,2016-07-31,Sunday,31,July,2016,51,Adults (35-64),M,Germany,Saarland,Accessories,Tires and Tubes,ML Mountain Tire,6,11,30,82,66,148
80944,2016-07-31,Sunday,31,July,2016,42,Adults (35-64),F,United States,California,Accessories,Tires and Tubes,Patch Kit/8 Patches,7,1,2,7,7,14

In [22]:
df[df.duplicated()]

,Date,Day_Name,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
69019,2011-02-20,Sunday,20,February,2011,25,Young Adults (25-34),F,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 52",1,1519,2443,900,1519,2419
58238,2011-03-03,Thursday,3,March,2011,43,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-150 Red, 44",1,2171,3578,1335,2171,3506
63341,2011-03-24,Thursday,24,March,2011,24,Youth (<25),M,Australia,Victoria,Bikes,Road Bikes,"Road-250 Black, 44",1,1555,2443,375,1555,1930
59240,2011-06-11,Saturday,11,June,2011,42,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-250 Black, 52",1,1555,2443,839,1555,2394
59821,2011-06-27,Monday,27,June,2011,37,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-650 Red, 48",1,487,783,280,487,767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12268,2016-07-18,Monday,18,July,2016,68,Seniors (64+),F,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,19,2,5,55,38,93
74739,2016-07-20,Wednesday,20,July,2016,53,Adults (35-64),F,United States,Washington,Accessories,Tires and Tubes,Road Tire Tube,14,1,4,30,14,44
2979,2016-07-23,Saturday,23,July,2016,44,Adults (35-64),F,Australia,South Australia,Accessories,Bottles and Cages,Mountain Bottle Cage,22,4,10,92,88,180
11140,2016-07-29,Friday,29,July,2016,55,Adults (35-64),F,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,16,2,5,46,32,78
76826,2016-07-30,Saturday,30,July,2016,33,Young Adults (25-34),M,Canada,British Columbia,Accessories,Tires and Tubes,Patch Kit/8 Patches,1,1,2,1,1,2

In [23]:
df = df.drop_duplicates().reset_index()
df

,index,Date,Day_Name,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,60993,2011-01-01,Saturday,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
1,58729,2011-01-01,Saturday,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
2,58913,2011-01-01,Saturday,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
3,63711,2011-01-01,Saturday,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
4,49787,2011-01-01,Saturday,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112031,22465,2016-07-31,Sunday,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Cleaners,Bike Wash - Dissolver,5,3,8,24,15,39
112032,23363,2016-07-31,Sunday,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Fenders,Fender Set - Mountain,19,8,22,258,152,410
112033,19225,2016-07-31,Sunday,31,July,2016,48,Adults (35-64),F,United Kingdom,England,Clothing,Caps,AWC Logo Cap,16,7,9,26,112,138
112034,94147,2016-07-31,Sunday,31,July,2016,51,Adults (35-64),M,Germany,Saarland,Accessories,Tires and Tubes,ML Mountain Tire,6,11,30,82,66,148
112035,80944,2016-07-31,Sunday,31,July,2016,42,Adults (35-64),F,United States,California,Accessories,Tires and Tubes,Patch Kit/8 Patches,7,1,2,7,7,14

In [24]:
df.set_index('index', inplace=True)
df

,Date,Day_Name,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
index,,,,,,,,,,,,,,,,,,,
60993,2011-01-01,Saturday,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
58729,2011-01-01,Saturday,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
58913,2011-01-01,Saturday,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
63711,2011-01-01,Saturday,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
49787,2011-01-01,Saturday,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22465,2016-07-31,Sunday,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Cleaners,Bike Wash - Dissolver,5,3,8,24,15,39
23363,2016-07-31,Sunday,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Fenders,Fender Set - Mountain,19,8,22,258,152,410
19225,2016-07-31,Sunday,31,July,2016,48,Adults (35-64),F,United Kingdom,England,Clothing,Caps,AWC Logo Cap,16,7,9,26,112,138
94147,2016-07-31,Sunday,31,July,2016,51,Adults (35-64),M,Germany,Saarland,Accessories,Tires and Tubes,ML Mountain Tire,6,11,30,82,66,148
80944,2016-07-31,Sunday,31,July,2016,42,Adults (35-64),F,United States,California,Accessories,Tires and Tubes,Patch Kit/8 Patches,7,1,2,7,7,14

In [25]:
df.to_csv("Clean Data.csv", index=False)